
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sansita+One');

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: red;
}

.navbar-inverse .navbar-brand {
  color: red;
}
