.search-engine {
  text-align: center;
}
.header-index {
  background-image: image-url('logo2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 70vh;
  width: 100%;
}
.index-ingredient-seach-text {
  color: rgb(190, 219, 57);
  font-family: 'Anton', sans-serif;
  font-size: 6em;
  font-weight: bold;
  text-align: center;

}
.thumbnail{
  height: 300px
}
.panel-info {
  background-color: rgb(253, 116, 0);
}
.panel-heading-text {
  color: rgb(253, 116, 0);
  background-color: rgb(0, 67, 88);
  padding-right: 50px;
}
.api-info{
  font-weight: bold;
}

.no-recipe-text{
  font-weight: bold;
  font-size: 20px
}
.dd.name-of-recipe{
  font-size: 20px;
  font-weight: bold;
  color: rgb(190, 219, 57);
}
.search-form {
  width: 100vw;
}

#search-form {
  input {
    font-size: 3em;
  }
}
