.logo-image {
  background-image: image-url("logo1.paint");
  width: 100%;
  background-size: cover;
  overflow: hidden;
  position: center;
}

.text-body-logo {
  color: red;
  font-family: 'Lobster', cursive;
  margin-top: 80px;
  font-size: 3em;
  text-align: center;
}
.body {
    background-image: url("logo1.paint");
    background-repeat: no-repeat;
    background-position: center;
}
